@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Clienta
@model Clienta.Models.Client
@{
    ViewData["Title"] = "Client details";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-4 mb-3">
            <img src="~/assets/avatar.png" class="mx-auto img-fluid img-circle d-block" alt="avatar">
        </div>

        <div class="col-12 col-lg-8 order-1">
            <ul class="nav nav-tabs" id="tab-navbar" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses" role="tab" aria-controls="addresses" aria-selected="false">Addresses</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="associated-tab" data-toggle="tab" href="#associated" role="tab" aria-controls="associated" aria-selected="false">Associated</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Edit</a>
                </li>
            </ul>
            <div class="tab-content" id="tab-content-area">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h5 class="mb-3 mt-5">Client Profile</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Name</h6>
                            <p>
                                @Model.GetFullname()
                            </p>
                        </div>

                        <div class="col-md-6">
                            <h6>Date of Birth</h6>
                            <p>
                                @Model.GetFormattedDateOfBirth()
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="addresses" role="tabpanel" aria-labelledby="addresses-tab">
                    <h5 class="mb-3 mt-5">Client Addresses</h5>

                    @if (Model.Addresses.Count > 0)
                    {
                        <table class="table table-sm table-hover table-striped">
                            <tbody>
                                @foreach (var address in Model.Addresses)
                                {
                                    <tr scope="row">
                                        <td>@address.ToString()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>This Client has no addresses yet. Please visit the Edit page to add a new Address.</p>
                    }
                    <div class="row float-right">
                        <!-- Button trigger Address creation modal -->
                        <div id="modal-target"></div>
                        <button type="button" class="btn btn-primary mr-3" data-toggle="ajax-modal" data-target="#create-address" data-url="@Url.Action("Create", "Address")">
                            Add
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="associated" role="tabpanel" aria-labelledby="associated-tab">
                    <h5 class="mb-3 mt-5">Associated Employees</h5>
                    <div class="row">
                        @if (Model.Employee != null)
                        {
                            <div class="col-md-6">
                                <h6>Name</h6>
                                <p>
                                    @Model.Employee.GetFullname()
                                    <span class="badge badge-primary"> Consultant</span>
                                </p>

                            </div>

                            <div class="col-md-6">
                                <h6>Employee Number</h6>
                                <p>
                                    @Model.Employee.EmployeeNumber
                                </p>
                            </div>
                        }
                        else
                        {
                            <p>This Client has no Employees associated, yet. Please visit the Edit page to assign one.</p>
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                    @await Component.InvokeAsync("ClientForm", new
                    {
                        Action = "Edit",
                        Model = @Model
                    })
                </div>
            </div>
        </div>
    </div>
</div>